@import "style.css";

body{
    margin: 0;
}
.header__back {
	display: flex;
	align-items: center;
    position: relative;
    left: 20px;

	width: 30px;
	height: 30px;
	text-decoration: none;
	color: black;
}

.header__logo{
    box-shadow: none;
    padding: 14px 89px 13px 65px;
}

.title{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

h1{
    font-size: 28px;
    font-weight: 400;
    font-family: Shrikhand;

}

.like--menu{
    align-self: center;
    width: 22px;
    height: 21px; 
}

.image__presentation img{
    width: 100%;
}

.menu{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;

    border-radius: 30px 30px 0 0;
    background-color: #F6F6F6;
    position: relative;
    bottom: 30px;
}

.menu__service{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    border-radius: 20px;
}

h2{
    width: 90%;
    font-size: 20px;
    font-weight: 300;
    font-family: Roboto;
}

.list--button{
    display: flex;
    flex-direction: column;
    border-radius: 20px;

    background-color: white;
    padding: 15px;
    width: 90%;
    text-align: start;
    height: 69px;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.10);
}

.list--button h3{
    padding-left: 0;
    font-size: 18px;
    font-family: roboto;
    font-weight: 500;
}

.list--button p{
    margin: 0;
    padding-top: 5px;
    height: 19px;
    font-weight: 300;
    font-size: 15px;
}

.list--button span{
    position: relative;
    bottom: 20px;
    align-self: flex-end;
    right: 15px; 
    font-weight: 700; 
}

.commander{
    margin-top: 30px;
}

footer{
    margin-top: -30px;
}