@import "style.css";

body{
    margin: 0;
}
.header__back {
	display: contents;
}

.fa-arrow-left{
    position: relative;
    left: 20px;
    font-size: 16px;
}

.header__logo{
    box-shadow: none;
    padding: 14px 89px 13px 65px;
}



.image__presentation img{
    width: 100%;
}

.menu{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;

    border-radius: 30px 30px 0 0;
    background-color: #F6F6F6;
    position: relative;
    bottom: 30px;
}

.menu__title{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

h1{
    font-size: 28px;
    font-weight: 400;
    font-family: Shrikhand;
    width: 90%;

}

.like__menu{
    position: absolute;
    top: 36px;
    right: 35px;
}

.menu__service{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    border-radius: 20px;
}

.menu__service--title{
    width: 90%;
}

h2{
    font-size: 20px;
    font-weight: 300;
    font-family: Roboto;
    padding-bottom: 5px;
}

.ligne{
    height: 3px;
    width: 40px;
    background-color: var(--filter-bg-color);
}


.list--button{
    display: flex;
    flex-direction: column;
    border-radius: 20px;

    background-color: white;
    padding: 15px;
    width: 90%;
    text-align: start;
    height: 69px;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.10);
}

.list--button h3{
    padding-left: 0;
    font-size: 18px;
    font-family: roboto;
    font-weight: 500;
}

.list--button p{
    margin: 0;
    padding-top: 5px;
    height: 19px;
    font-weight: 300;
    font-size: 15px;
}

.list--button span{
    position: relative;
    bottom: 20px;
    align-self: flex-end;
    right: 15px; 
    font-weight: 700; 
}

.commander{
    margin-top: 30px;
}

footer{
    margin-top: -30px;
}

/**********Animation fondu à l'ouverture de la page*********/
.fondu__entrees, .fondu__plats, .fondu__desserts, .commander{
    opacity: 0;
    transform: translateY(20px); /* Translatez l'élément vers le bas de 20px */
    animation: fadeIn 2s ease-in-out forwards; /*Pourquoi forwards ne nous met pas à 0 d'opacity????*/
}

/********************   Animation fondu *****************/

.fondu__entrees:nth-child(1){
    animation-delay: 0s;
}

.fondu__entrees:nth-child(2){
    animation-delay: 0.5s;
}

.fondu__entrees:nth-child(3){
    animation-delay: 1s;
}

.fondu__entrees:nth-child(4){
    animation-delay: 1.5s;
}

.fondu__entrees:nth-child(5){
    animation-delay: 1.7s;
}

.fondu__plats:nth-child(1){
    animation-delay: 2s;
}

.fondu__plats:nth-child(2){
    animation-delay: 2.5s;
}

.fondu__plats:nth-child(3){
    animation-delay: 3s;
}

.fondu__plats:nth-child(4){
    animation-delay: 3.5s;
}

.fondu__desserts:nth-child(1){
    animation-delay: 4s;
}

.fondu__desserts:nth-child(2){
    animation-delay: 4.5s;
}

.fondu__desserts:nth-child(3){
    animation-delay: 5s;
}

.fondu__desserts:nth-child(4){
    animation-delay: 5.5s;
}

.commander{
    animation-delay: 6s;
}

@keyframes fadeIn {
    0% {
        opacity: 0; 
        transform: translateY(20px); 
    }
    100% {
        opacity: 1; 
        transform: translateY(0); 
    }
}

@media screen and (min-width: 768px) {

    .image__presentation {
        height: 383px;
    }

    .image__presentation img {
        height: 383px;
        object-fit: cover;
    }
    
    .menu {
        margin: auto;
        width: 80%;
    }

    .menu__service {
        width: 70%;
    }

    .menu__title{
        max-width: 307px;
    }

    .like__menu {
        position: relative;
        right: 0;
    }

    
}